html body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0px;
  background-color: #ffffff;
}

h1 {
  color: #00a2e8;
  font-family: 'Montserrat', sans-serif;
  margin-left: 10px;
  padding-top: 70px;
}

h2 {
  color: #020000;
  font-family: 'Montserrat', sans-serif;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
  
h7 {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}

p {
  color: black;
  font-family: 'Montserrat', sans-serif;
  margin-left: 10px;
}

.logo {
  display: inline-block;
  vertical-align: top;
  position: fixed;
  margin-top: 3px;
  margin-left: 20px;
  width: 160px;
  height: 60px;
}

.topnav {
  background-color: #ffffff;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
}

.topnav a {
  float: right;
  position: center;
  color: #020000;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  padding: 7px 18px;
  line-height: 50px;
  font-size: 15px;
}

.topnav a.active {
  background-color:#ffffff;
  font-family: 'Montserrat', sans-serif;
  color: #00a2e8;
}

/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 15px;
  line-height: 50px;
  border: none;
  outline: none;
  color: #020000;
  padding: 7px 18px;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  margin: 0; 
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ffffff;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: fixed;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #020000;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.slider {
  height: 500px;
  width: 100%;
  background-color: gray;
  overflow-x: hidden;
}

.sliderchild {
  height: 500px;
  width: 500%;
  background-color: #00a2e8;
  animation: slider infinite 20s 2s;
}

.imagecontainer {
  height: 500px;
  width: 20%;
  background-color: gray;
  float: left;
  font-weight: 800;
  font-size: 40px;
  text-align: center;
  line-height: 500px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

.imagecontainer:nth-child(1) {
  background-image: url('images/childbatting.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.imagecontainer:nth-child(2) {
  background-image: url('images/cricketball.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.imagecontainer:nth-child(3) {
  background-image: url('images/backfootpunch2.jpg');
  background-repeat: no-repeat;
  background-position: right 35% top 45%;
  background-size: cover;
}

.imagecontainer:nth-child(4) {
  background-image: url('images/cricketgear2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.imagecontainer:nth-child(5) {
  background-image: url('images/childbatting.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes slider {
  12.5% {
    margin-left: -100%;
  }
  20% {
    margin-left: -100%;
  }
  37.5% {
    margin-left: -200%;
  }
  50% {
    margin-left: -200%;
  }
  62.5% {
    margin-left: -300%;
  }
  75% {
    margin-left: -300%;
  }
  87.5% {
    margin-left: -400%;
  }
  100% {
    margin-left: -400%;
  }
}
/* Three columns side by side */
.column {
  float: left;
  width: 50%;
  margin-bottom: 16px;
  padding-left: 20px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #949494;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #00a2e8;
}

.footer {
  position: bottom;
  width: 100%;
  background-color: #00a2e8;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-left: 10px;
}

@media screen and (max-width: 600px) {
  h1 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    margin-left: 10px;
  }

  h2 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    margin-left: 10px;
    padding-top: 10px;
  }
    
  p {
    color: black;
    font-family: 'Montserrat', sans-serif;
    margin-left: 10px;
  }
  
  .logo {
    display: none;
    vertical-align: top;
    position: fixed;
    margin-top: 2px;
    margin-left: 10px;
    width: 80px;
    height: 30px;
  }
  
  .topnav {
    background-color: #ffffff;
    display: inline-flex;
    overflow: hidden;
    position: fixed;
    top: 0px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
  }
  
  .topnav a {
    display: flex;
    position: center;
    color: #020000;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    padding: 3px 9px;
    line-height: 25px;
    font-size: 7px;
  }
  
  .topnav a.active {
    background-color:#ffffff;
    font-family: 'Montserrat', sans-serif;
    color: #00a2e8;
  }
  
  /* The dropdown container */
  .dropdown {
    float: right;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 7px;
    line-height: 25px;
    border: none;
    outline: none;
    color: #020000;
    padding: 3px 9px;
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    margin: 0; 
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ffffff;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: #020000;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .slider {
    height: 500px;
    width: 100%;
    background-color: gray;
    overflow-x: hidden;
  }
  
  .sliderchild {
    height: 500px;
    width: 500%;
    background-color: #00a2e8;
    animation: slider infinite 20s 2s;
  }
  
  .imagecontainer {
    height: 500px;
    width: 20%;
    background-color: gray;
    float: left;
    font-weight: 800;
    font-size: 15px;
    text-align: center;
    line-height: 250px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
  }
  
  .imagecontainer:nth-child(1) {
    background-image: url('images/childbatting.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .imagecontainer:nth-child(2) {
    background-image: url('images/cricketball.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .imagecontainer:nth-child(3) {
    background-image: url('images/backfootpunch2.jpg');
    background-repeat: no-repeat;
    background-position: right 35% top 45%;
    background-size: cover;
  }
  
  .imagecontainer:nth-child(4) {
    background-image: url('images/cricketgear2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .imagecontainer:nth-child(5) {
    background-image: url('images/childbatting.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  @keyframes slider {
    12.5% {
      margin-left: -100%;
    }
    20% {
      margin-left: -100%;
    }
    37.5% {
      margin-left: -200%;
    }
    50% {
      margin-left: -200%;
    }
    62.5% {
      margin-left: -300%;
    }
    75% {
      margin-left: -300%;
    }
    87.5% {
      margin-left: -400%;
    }
    100% {
      margin-left: -400%;
    }
  }
}
