html body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0px;
    background-color: #ffffff;
  }

  h1 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    margin-left: 10px;
  }

  h2 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    margin-left: 10px;
  }
  
  p {
    color: black;
    font-family: 'Montserrat', sans-serif;
  }
  
.topnav {
  background-color: #ffffff;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #020000;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 14px 16px;
  font-size: 15px;
}

.topnav a:hover {
  background-color: #ffffff;
  color: black;
}

.topnav a.active {
  background-color:#ffffff;
  font-family: 'Montserrat', sans-serif;
  color: #00a2e8;
}

.slider {
  height: 500px;
  width: 100%;
  background-color: gray;
}

.sliderchild {
  height: 500px;
  width: 500%;
  background-color: #00a2e8;
  animation: slider infinite 20s 2s;
}

.imagecontainer {
  height: 500px;
  width: 20%;
  background-color: gray;
  float: left;
  font-weight: 800;
  font-size: 40px;
  text-align: center;
  line-height: 500px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

.imagecontainer:nth-child(1) {
  background-image: url('images/childbatting.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.imagecontainer:nth-child(2) {
  background-image: url('images/cricketball.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.imagecontainer:nth-child(3) {
  background-image: url('images/backfootpunch.JPG');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.imagecontainer:nth-child(4) {
  background-image: url('images/cricketgear.JPG');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.imagecontainer:nth-child(5) {
  background-image: url('images/childbatting.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@keyframes slider {
  12.5% {
    margin-left: -100%;
  }
  20% {
    margin-left: -100%;
  }
  37.5% {
    margin-left: -200%;
  }
  50% {
    margin-left: -200%;
  }
  62.5% {
    margin-left: -300%;
  }
  75% {
    margin-left: -300%;
  }
  87.5% {
    margin-left: -400%;
  }
  100% {
    margin-left: -400%;
  }
}
